@using LibraryManagementApp.Enums
@model PaginatedList<BookIssue>

@{
    ViewData["Title"] = "Borrowers History";

    var viewData = new ViewDataDictionary(ViewData);
    viewData["Param1"] = ViewBag.searcheditem;
    viewData["actionPage"] = "History";
}
<div class="row">
    <h4 class="mt-3 mb-4 text-center"><i class="bi bi-clock-history"></i> History</h4>

    <div style="max-width:1100px; margin:auto;">
        <div class="row mb-3">
            <div class="col">
                @using (Html.BeginForm("History", "BookIssue", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-md-5">
                            <select name="searchString" class="form-select" asp-items="Html.GetEnumSelectList<BookReturnStatus>()"></select>
                        </div>
                        <div class="col">
                            <input class="btn btn-light float-start" value="Filter By Return Status" type="submit">
                        </div>
                    </div>
                }
            </div>
            <div class="col">
                <a class="btn btn-light float-end" asp-action="History">All</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.First().TimeBorrowed)</th>
                    <th>User</th>
                    <th>@Html.DisplayNameFor(model => model.First().bookStatus)</th>
                    <th>@Html.DisplayNameFor(model => model.First().BookInstance!.IsbnNumber)</th>
                    @*<th>Fined</th>*@
                    @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.TimeBorrowed)</td>
                        <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.BorrowersName)</td>
                        <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.bookStatus)</td>
                        <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.BookInstance!.IsbnNumber)</td>
                        @*<td class="align-middle text-center"><i class="bi bi-x-circle"></i></td>*@
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="text-center">
                                <a class="btn btn-outline-primary me-2" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_Pager" view-data="viewData" />