@model IEnumerable<Author>

@{
    ViewData["Title"] = "List of Authors";
}

<div class="container">
    <h4 class="mt-4 text-center"><i class="bi bi-person"></i> Best Selling Authors</h4>
    <div class="row g-6 mt-5">
        @foreach (var item in Model)
        {
            <div class="col-md-2 mb-5">
                <div class="text-center">
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">
                        <img class="rounded-circle" src="~/Images/Authors/@item.ProfilePicture" alt="Image for @item.FullName" style="width: 100px;">
                        <p class="card-title mt-2"><strong>@item.FullName</strong></p>
                    </a>
                    @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Librarian")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-warning" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id"
                            class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <i class="bi bi-trash3"></i> Delete
                            </a>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>

@if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Librarian")))
{
    @await Html.PartialAsync("_CreateItem", "Author")
}
