@model LibraryManagementApp.Models.LibraryCard

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mt-4">Details</h1>

<div>
    <h4>LibraryCard <i class="bi bi-credit-card-2-back"></i></h4>
    <hr />
    <div class="row">
        <div class="col-md-8 offset-4">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CardNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CardNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Balance)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Balance)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.isActivated)
                </dt>
                <dd class="col-sm-10">
                    @Model.isActivated
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApplicationUser!.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Owner)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Owner)
                </dd>
            </dl>
            <div class="mt-5">
                <a asp-action="Index" class="btn btn-light me-2">
                    <i class="bi bi-box-arrow-left"></i> Show All
                </a>
                @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@Model!.Id" class="btn btn-outline-warning">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                }
            </div>
        </div>
    </div>
</div>